<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pandulapeter">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:name=".myTodos.MyTodosApplication"
        android:label="@string/my_todos"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Splash"
        tools:ignore="AllowBackup">

        <activity android:name="com.pandulapeter.myTodos.MyTodosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>